{# src/Blogger/BlogBundle/Resouces/views/Blog/show.html.twig #}

{% block body %}
    <h1>Hello</h1>
    {%  for  i in info %}
        <ul>
            <li>{{ i }}</li>
        </ul>
    {% endfor %}
{% endblock %}
